TABLE{
	width: 100%;
}

@media all and (max-width: 50em) {
	.custom_grid1 .ui-block-a { width: 50%; }
	.custom_grid1 .ui-block-b
}

.ui-btn-del{
	background-color: #c11b17 !important; 
	color:white !important;
}