extends book_form
block title
  title 新书
block append scripts
  script(type='text/javascript').
    $(function(){
      $('#submitBtn').on('click', function(event){
        event.preventDefault();
        createBook();
      });
    });
    function createBook(){
      $('#book_form').attr('action', 'createBook').submit();
    }

