extends layout
block title
  title Abe's Libraray System
block pre_action
  a.glyphicon.glyphicon-menu-left(href='index')
block header_text
  h4 书籍列表
block after_action
  a.glyphicon.glyphicon-plus(href='newBook', aria-hidden='true')
block content
  .row
    .col-xs-12
      .list-group
        -books.forEach(function(book) {
          a(class="list-group-item" href="selbook?bid="+book.bid)
            = book.b_name+' - '+book.aname
        -})