doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    block title
    block links
      link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='css/common.css')
    block scripts
      script(type='text/javascript', src='js/jquery-1.12.0.js')
      script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
      script(type='text/javascript', src='bootstrap/js/bootstrap3-typeahead.js')
      script(type='text/javascript', src='js/common.js')
      script(type='text/javascript', src='js/book_form.js')
      script(type='text/javascript').
        $(function(){
          $('#pub_h_input').typeahead({
            source: function (query, process) {
              $.get('loadPubHouse', {'key': query}, function (data) {
                var results = new Array();
                $.each(data, function (key, value) {
                  results.push(value);
                });
                process(results);
              }, 'json');
            }
          });
          $('#isbn-btn').on('click', function(event){
            event.preventDefault();
            $(this).addClass('disabled');
            getByISBN(this);
          });
        });
  body
    .container
      .row.header.page-header
        .col-xs-2
          a.glyphicon.glyphicon-menu-left(href='javascript:void(0)', onclick='back()')
        .col-xs-8
          h4
          block header
        .col-xs-2
          block actions
      form#book_form.form-horizontal(method='post')
        input#oper(type='hidden', name='oper', value='')
        .form-group
          label.col-xs-3.control-label(for='bid') ISBN
          .col-xs-6
            block bid_input
              input.form-control(type='text', name='bid', id='bid', value='')
          .col-xs-3
            button#isbn-btn.btn.btn-primary Search
        .form-group
          label.col-xs-3.control-label 书名
          .col-xs-9
            block bname_input
              input.form-control(type='text', name='bName', value='')
        .form-group
          label.col-xs-3.control-label 作者
          .col-xs-9
            block author_input
              input.form-control(type='text', name='author', id='author_input', autocomplete='off', value='')
        .form-group
          label.col-xs-3.control-label 出版日期
          .col-xs-9
            block pdate_input
              input.form-control(type='month', name='pubDate', value='')
        .form-group
          label.col-xs-3.control-label 出版社
          .col-xs-9
            block phouse_input
              input.form-control(type='text', name='pubHouse', id='pub_h_input', autocomplete='off', value='')
        .form-group
          label.col-xs-3.control-label 类型
          .col-xs-9
            block type_input
              select.form-control#type_list(name="type")
        .form-group
          label.col-xs-3.control-label 册数
          .col-xs-9
            block serial_input
              input.form-control(type='number', pattern='[0-9]', name='serialNo', value='')
        .form-group
          label.col-xs-3.control-label 备注
          .col-xs-9
            block remark_input
              input.form-control(type='text', name='remarks', value='')
        .form-group
          .col-xs-12
            button#submitBtn.btn.btn-primary.btn-block 保存