doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    block title
    block style
      link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css', media='screen')
      link(rel='stylesheet', type='text/css', href='css/common.css')
      link(rel='stylesheet', type='text/css', href='css/index.css')
    block scripts
      script(type='text/javascript', src='js/jquery-1.12.0.js')
      script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
  body
    .container
      .row
        .col-xs-12
          ul#nav_menu.list-group
            li.list-group-item
              a(href='index') 列表
            li.list-group-item
              a(href='search') 搜索
            li.list-group-item
              a(href='setting') 设置
      .row.header
        .col-xs-2
          block pre_action
            .btn-group
              span.glyphicon.glyphicon-menu-hamburger(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .col-xs-8
          block header_text
        .col-xs-2
          block after_action
      block content