extends layout
block title
  title 搜索书籍
block append scripts
  script(type="text/javascript").
    /* Redirect to new book page with parameters */
    function newBook(trObj){
      var $tds = $(trObj).find('td');
      var url = 'newBookByParam?isbn='+$tds.eq(0).text()+'&name='
        +$tds.eq(1).text()+'&author='+$tds.eq(2).text()+'&pubdate='+$tds.eq(3).text()
        +'&publisher='+$tds.eq(4).text();
      window.location.href = url;
    }
    /* Search Book with Douban API */
    function getISBN() {
      var searchAPI = 'https://api.douban.com/v2/book/search?q='+$('#key').val();
      $.get(searchAPI, {}, function(data){
        var books = data.books;
        var table = $('#book_tb').find('tbody');
        $(books).each(function(){
          var $tr = $('<tr>');
          //Binding function of redirect to new book page when clicking row
          $tr.on('click', function(){
            newBook(this)
          });
          var trCode = '<td>';
          if(this['isbn13'] == undefined){
            trCode += this['isbn10'];
          }else{
            trCode += this['isbn13'];
          }
          //generate row content
          trCode += '</td><td>'+this['title']+'</td><td>'
            +this['author']+'</td><td>'+this['pubdate']+'</td><td>'+this['publisher']+'</td>';
          $tr.append(trCode);
          table.html($tr);
        });
      }, 'jsonp')
    }
block pre_action
  a.glyphicon.glyphicon-menu-left(href='index')
block header_text
  h4 豆瓣搜索
block content
  .row
    .form-group
      .col-xs-10
        input.form-control(type='search', name='key', id='key')
      .col-xs-2
        a.glyphicon.glyphicon-search(href='javascript:void(0);', onclick='getISBN()', style='top: .7em;', title='Search')
  .row
    .col-xs-12
      table.table.table-hover#book_tb
        thead
          tr
            th ISBN
            th 名称
            th 作者
            th 出版时间
            th 出版社
        tbody
