extends layout
block title
  title 参数设置
block append style
  style(type='text/css').
    table.table td{
      cursor: pointer;
    }
    .panel-icon {
      float:right;
    }
block append scripts
  script(type='text/javascript').
    /* 更新书籍类型 */
    function updateType(trObj){
      var $tds = $(trObj).find('td');
      window.location.href = 'selType?id='+ $tds.eq(0).text()+'&name='+$tds.eq(1).text();
    }
block pre_action
  a.glyphicon.glyphicon-home(href='index')
block header_text
  h4 参数设置
block content
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading 书籍类型
          a.glyphicon.glyphicon-plus.panel-icon(href='newType')
        .panel-body
          table.table.table-hover
            thead
              tr
                th 编号
                th 名称
            tbody
              -types.forEach(function(row){
                tr(onclick="updateType(this)")
                  td
                    = row.id
                  td
                    = row.name
              -})